Activity_ Course 7 Salifort Motors project lab.ipynb
Activity-Template_-Course-7-PACE-strategy-document.docx
Activity-Templates_-Executive-summaries.pptx
HR_capstone_dataset.csv
xgboost.picke
.~lock.Activity-*
.ipynb_checkpoints 

